.content{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 22px;
    column-gap: 18px;
}
@media(max-width:1400px){
    .content{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

}


@media(max-width:1200px){
.content{
    grid-template-columns: 1fr 1fr 1fr;
}}

@media(max-width:750px){
.content{
    grid-template-columns: 1fr 1fr;
}}


.content .thumb{
    display: grid;
    grid-template-columns: 1fr;
}
.content .thumb img{
    width: 100%;
}

.content .bottom{
    display: grid;
    grid-template-columns: 48px 1fr;
}
.content .bottom img{
    width:36px;
    border-radius: 50px;
    margin-top: 8px;
}
.title{
    margin-top: 8px;
    font-family: Roboto;
    font-weight: 470;
    font-size: 15px;
    color: black;
}
p{
    font-family: Roboto;
    font-size: 12px;
    color:rgb(96, 96, 96);
}

.time{
    background-color: rgba(0,0,0,0.9);
    color: white;
    bottom: 10px;
    right: 6px;
    height: 20px;
    border-radius: 2px;
    font-size: 14px;
    padding: 3px;
}
