.content{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 22px;
    column-gap: 18px;
}
.content .thumb{
    display: grid;
    grid-template-columns: 1fr;
}
.content .thumb img{
    width: 100%;
}

.content .bottom{
    display: grid;
    grid-template-columns: 48px 1fr;
}
.content .bottom img{
    width:36px;
    border-radius: 50px;
    margin-top: 8px;
}
.title{
    margin-top: 8px;
}
.text{
    hori
}