.header{
    height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-bottom: 20px;
    z-index: 100;
    background-color: white;
    border-bottom: 1px rgb(222, 222, 222) solid;
    padding-bottom: 4px;
   
.left{
    display: flex;
    align-items: center;
    justify-content: center;

}
.naamam{
    height: 24px;
    margin-left: 20px;
    margin-right: 20px;
}
.youlogo{
    height: 20px;
}

.middle{
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 60px;
    max-width: 470px;
}
.search-bar{
    height: 40px;
    font-size: 16px;
    flex: 1;
    min-width: 0px;
    width: 0px;
    padding-left: 12px;
    border: 1px;
    border-color: rgb(222, 222, 222);
    border-style: solid;
    box-shadow: inset 1px 1px 2px rgb(222, 222, 222);
}
.middle .first{
    height: 43px;
    width: 64px;
    margin-left: -2px;
    margin-right: 8px;
    border: 1px rgb(204, 204, 204) solid;
    position: relative;
}
.middle .second{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
}
.middle button .search-logo{
    height: 24px;
}
.right img{
    height: 24px;
}
.right .channellogo{
    height: 32px;
    border-radius: 50px;
}
.right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 182px;
    align-items: center;
    margin-right: 24px;
    margin-left: 29px;
    flex-shrink: 0;
}

.first-1{
    background-color: rgb(17, 16, 16,0);
    color:white;
    position: absolute;
    padding: 4px;
    margin-top: 30px;
    height: 18px;
    width: 45px;
    border-radius: 2px;
}

.first:hover .first-1{
    background-color: rgb(17, 16, 16,0.5);
    color:white;
    position: absolute;
    padding: 4px;
    margin-top: 30px;
    height: 18px;
    width: 45px;
    border-radius: 2px;
}